body {
    font-family: "Roboto",sans-serif;
	font-size:10.5pt;
    font-weight: 400;
	color:rgba(0, 0, 0, 0.9);
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button{ 
	font-family:"Roboto",sans-serif !important;
	font-size:10.5pt;
}
input{
	font-size:10.5pt;
}
.highlight_c{
	color:#29AFD6;
}
.tplaceholder_c{
	color:#333 !important;
}
.tmar_t0{
	margin-top:-20px !important;
}
.tmar_t9{
	margin-top:9px;
}
.tmar_t10{
	margin-top:10px;
}
.tmar_t12{
	margin-top:13px;
}
.tmar_t20{
	margin-top:20px;
}
.tmar_t30{
	margin-top:30px;
}
.tmar_t125{
	margin-top:125px;
}
.tmar_b5{
	margin-bottom:5px;
}
.tmar_b10{
	margin-bottom:10px;
}
.tmar_b20{
	margin-bottom:20px !important;
}
.tmar_b30{
	margin-bottom:30px;
}
.withoutlogin_logo{
	position:absolute;
	top:9px;
	left:36px;
}
.tfix_header{
	position:fixed;
	top:0;
	z-index:8;
	background: #f5f5f5;
    background: -moz-linear-gradient(top,#fff 0,#f3f3f3 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#f3f3f3)); 
    background: -webkit-linear-gradient(top,#fff 0,#f3f3f3 100%); 
    background: -o-linear-gradient(top,#fff 0,#f3f3f3 100%);
    background: -ms-linear-gradient(top,#fff 0,#f3f3f3 100%);
    background: linear-gradient(to bottom,#fff 0,#F2FFFE 100%); 
	margin-bottom:30px;
	border-bottom:1px solid #c7c7c7;
	padding-bottom:12px;
	width:100%;
}
.pad_lr{
	padding-left:25px;
	padding-right:25px;
}
.mainpage_firstdivbg{
	background:#f9f9f9;padding-bottom:6px;border-bottom:1px solid #f2f2f2
}
.tmar_t{
	padding-top:100px;
}
.tphoto_links span{
	margin-bottom:4px;
}
.tinput_s input{
	border:1px solid #c7c7c7;
	padding:6px 4px !important;
}
.twidth_acinfo{
	width:21% !important;
}
.twidth_acinfo img{
	border-radius:2px;
}
.twidth_acinfo .create_btn{
	border: 1px solid #D8F0F8;
    border-radius: 2px;
    padding: 2px 5px;
	background:#D8F0F8;
	color:#333;
}
.tmenufont_inc li a{
	font-size:10.5pt;
}
.mar_b5{
	margin-bottom:5px;
}
.tsearch_input_w{
	width:75% !important
}
.pop_up_haeding h3{
	background:#eaeaea;
	border-bottom:1px solid #ddd;
	font-size:15px;
	position:relative;
	padding:5px;
	text-align: left;
	border-radius:4px 4px 0 0;
}
.conform_popup_content p {
    text-align: center;
	margin-bottom:20px;
}
.tzcontainer_as{
	width:80%;
	margin:0 auto;
}
.tac_bg{
	background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius:2px;
}
.tdashboard_f{
	font-size:10.5pt;
}
/* montage page css */
.montage_container{
	width:86.3%;
	margin:125px auto;
}
.montage_brg_box{
	border:1px solid #c7c7c7;
	border-radius:2px;
}
.montage_box_brg_title{
	border-bottom: 1px solid #c7c7c7;
    margin-bottom: 15px;
    padding: 5px 7px;
	background:#f8f8f8;
}
.text_sub_title{
	text-transform:capitalize;
}
/* End */
/* forgot Page css */
.tfogotcontainer{
	width:50%;
	margin:0 auto;
	padding:20px 0;
}
.tforgot_title {
	border-bottom:1px solid #c7c7c7;
	padding-bottom:6px;
	padding-top:6px;
	margin:0;
	font-size:12pt;
}
.tforgot_p div:first-child{
	margin-bottom:0;
	margin-top:0;
}
.tforgot_p div{
	margin-bottom:20px;
	margin-top:20px;
}
.tforgot_inputbrg{
	border:1px solid #c7c7c7;
	padding:5px;
	width:50%;
}
/* Header css put there*/
.tg_users_title{
	color: #565656;
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
}
.tg_users_socila_login{
	margin-top:10px;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
	text-align:center;
}
.tg_users_socila_login img:first-child{
	margin-left:0px;
	margin-bottom:8px;
}
.tg_users_socila_login img{
	margin-left:20px !important;
}
.tg_users_email_login{
	font-size:12pt;
	text-align:center;
	text-transform:uppercase;
}
.tg_create_email{
	margin-top:10px;
}
.tg_create_email input{
	width:100%;
	margin-bottom:10px;
}
.text_pad{
	padding:6px 4px;
	border:1px solid #c7c7c7;
	 box-sizing: border-box;
}
.home_anchor_black{
	color:#000000;
	 text-decoration: none;
}
.tg_email_btn{
	text-align:right;
	position:relative;
}
.tg_fp_btn{
	text-align:left;
	position:relative;
	bottom:22px;
	width:80%;
}
.tg_fp_btn a:hover{
	color:#f74b40;
}
.crete_acc{
	border-top:1px solid #ccc;
	margin-top:5px;
	text-align:center;
}
.crete_acc p{
	padding-top:5px;
	padding-bottom:5px;
}
.crete_acc a{
	color:#000;
	font-weight:bold;
	 text-decoration: none;
}
.crete_acc a:hover{
	color:#f74b40;
}
.btn {
	background: none repeat scroll 0 0 #f97e76;
    border: 1px solid #f97e76;
    color: #fff;
    letter-spacing: 1px;
	padding:6px 24px;
    text-transform: uppercase;
	text-align:center;
	cursor:pointer;
	 text-decoration: none;
	 border-radius:2px;
}
/* end */
/* user profile page css */
.profile_pad{
	padding:20px;
}
.profile_title {
	border-bottom:1px solid #c7c7c7;
	padding-bottom:5px;
	margin-bottom:20px;
	font-size:12pt;
}
.divHeaderWrapper .divSearchBoxes .aSearch {
    background: #ddd url("../img/search.png");
    background-size: 17pt 17pt;
	background-position:center;
	background-repeat:no-repeat;
    width: 30pt;
    height: 22pt;
    margin-left: 0;
	border-bottom:1px solid #c7c7c7;
	border-top:1px solid #c7c7c7;
	border-right:1px solid #c7c7c7;
}
/* Browser Problem css */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.divHeaderWrapper .divSearchBoxes .aSearch {
		 height: 21pt;
	}
}
@media (max-width: 767px){ 
	[class*="span"] {
    display: block !important;
    float: none !important;
    width: 95% !important;
    margin-left: 0 ;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .insert input[type="text"], .insert input[type="password"]{
	width:95% !important;
  }
  .withoutlogin_logo{
	position:relative;
  }
}